:root {
	--ume-base      : 16rem;
	--ume-base-half : 8rem;
}

*, *:before, *:after {
	box-sizing : border-box;
}

html {
	font-size : 1px;
}

body {
	font-family : 'Raleway', sans-serif;
	font-size   : 16rem;
	margin      : 0;
	padding     : 32rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family : 'Oswald', sans-serif;
}

section.example {
	position         : relative;
	background-color : #f9f9f9;
	border-top       : 1rem solid #d9d9d9;
	border-bottom    : 1rem solid #d9d9d9;
	padding          : 32rem;
	margin           : 54rem -32rem 16rem -32rem;
}

section.example:before {
	content          : attr(data-title);
	position         : absolute;
	top              : -22rem;
	left             : 0;
	padding          : 4rem 8rem 5rem 8rem;
	font-size        : 12rem;
	line-height      : 12rem;
	border-top       : 1rem solid #d9d9d9;
	border-right     : 1rem solid #d9d9d9;
	color            : #727272;
	background-color : #f9f9f9;
}

section.example ume-layout.example {
	background-color : #fff;
	box-shadow       : 0 0 2px rgba(0, 0, 0, 0.1);
}

section.example ume-layout.example ume-col.example {
	box-shadow : 0 0 1px rgba(0, 0, 0, 0.1);
	text-align : center;
}

p {
	margin         : 0;
	padding-bottom : 16px;
}

code {
	color   : #e21856;
	border  : 1px solid rgba(226, 24, 86, 0.1);
	padding : 2px 4px;
}
